<div class="card-task">
  <div class="card-part-header">
    <p><%= @task.name %></p>
  </div>
  <div class="card-part-body">
    <p><%= @task.detail %></p>
  </div>
  <div class="card-part-footer">
    <p><%= status_text(@task) %></p>
  </div>
  <div class="card-toolbar">
    <p>Tools:
    <%= link_to 'Edit', edit_task_path(@task) %>
    <%= link_to 'Expand', expanded_task_path(@task) %>
    </p>
  </div>
</div>
