<h1>Show Task</h1>

<div class="card-task">
  <div class="card-part-header">
    <p><%= @task.name %></p>
  </div>
  <div class="card-part-body">
    <p><%= @task.detail %></p>
  </div>
  <div class="card-part-footer">
    <p><%= status_text(@task) %></p>
  </div>
  <div class="card-toolbar">
    <p>Tools:
    <%= link_to 'Edit', edit_task_path(@task) %>
    </p>
  </div>
</div>

<p><%= link_to 'Back', tasks_path %></p>
 
<p>
  <b>Goal:</b>
  <% unless @task.goal.nil? -%>
    <%= link_to @task.goal.name, goal_path(@task.goal) %>
  <% else -%>
    No Goal Selected
  <% end -%>
</p>

