<div class="card-goal">
  <div class="card-part-header">
    <p><%= @goal.name %></p>
  </div>
  <div class="card-part-body">
    <p><%= @goal.detail %></p>
  </div>
  <div class="card-part-footer">
    <p><%= status_text(@goal) %></p>
  </div>
  <div class="card-toolbar">
    <p>Tools:
    <%= link_to 'Edit', edit_goal_path(@goal) %>
    <%= link_to 'Expand', expanded_goal_path(@goal) %>
    <%= link_to 'Destroy', @goal, :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </div>
</div>

