  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :detail %><br />
    <%= f.text_area :detail %>
  </p>
  <p>
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </p>
