<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Activities: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'app' %>
</head>
<body>

<%= render :partial => 'layouts/app_header' %>

<div class="section-header activities">
  <h2>Activities</h2>
  <div class="menu">
<%= link_to 'Summary', summary_goals_path %> !
<%= link_to 'List goals', goals_path %> !
<%= link_to 'List activities', activities_path %> !
<%= link_to 'New activity', new_activity_path %>
  </div>
</div>

<div class="content">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>
</div>

</body>
</html>
